@model Movie;
<table>
    <tr>
        <th> Movie ID</th>
        <th> Movie Title</th>
        <th> Movie Description</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Title</td>
        <td>@Model.Description</td>
        <td>@Model.Name</td>
    </tr>
</table>

<br/>

<br/>

@await Component.InvokeAsync("MovieDetails", new {id = Model.Id}).ConfigureAwait(false)

<br/>

<vc:movie-details id="@Model.Id"></vc:movie-details>