@model Movies;



<div>
    <table class="table table-hover" id="table"  hx-target="closest tr" hx-swap="outerHTML swap:1s">
        <tr> 
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th> Category </th>
            <th></th>
            <th></th>
        </tr>
        @foreach(var item in Model.Items)
        {
            <tr class="table-secondary text-secondary">
                <td>@item.Id</td>

                <td>@item.Title</td>

                <td>@item.Description</td>

                <td>@item.Name</td>
            
                <td><a href="@Url.RouteUrl("Movies_Details", new {id = item.Id})">detail1</a></td>

                <td><a href="@Url.Action("Details", "Movies", new { id = item.Id})">detail2</a></td>

                <td><a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id"> detail3</a> </td>

                <td><a class="btn btn-primary" data-bs-toggle="offcanvas" role="button" aria-controls="offcanvasExample" href="#offcanvasExample" onclick="find_id('@item.Id', '@item.Title', '@item.Name')">offcanvas details</a></td>

                <td><a href="@Url.Action("Update", "Movies", new {id = item.Id})">Edit</a></td>

                <td><a href="@Url.Action("Delete", "Movies", new {id = item.Id})">Delete</a></td>
                
                <td>
                    <a href ="@Url.Action("Update", "Movies", new {id = item.Id})" hx-target="main" hx-push-url="true" hx-get="@Url.Action("Update", "Movies", new {id = item.Id})">HTMX edit</a>
                </td>

                <td>
                    <a href="@Url.Action("Delete", "Movies", new {id = item.Id})" hx-target="main" hx-push-url="true" hx-get="@Url.Action("Delete", "Movies", new {id = item.Id})">HTMX delete</a>
                </td>
                
                <td>
                    <button class="btn btn-danger"  hx-delete="@Url.RouteUrl("Delete_Htmx", new {id = item.Id})">
                    Delete
                    </button>
                </td>
                
            </tr>   
        }
  
    </table>
</div>

<div class = "btns">
    <button id="AjaxSubButton" type="button" class="btn btn-info btn-danger">View Records with Ajax</button>
    <button id="AjaxGetButton" type="button" class="btn btn-primary btn-primary">View Records with Partial View and Ajax</button>
</div>

<br />
<br />

<div id="result">
    
</div>

<div id="result_partial_view">


</div>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">Movie Details</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body" id="offcanvas-body">
        
        
    </div>
</div>

<style>
    tr.htmx-swapping td {
        opacity: 0;
        transition: opacity 1s ease-out;
    }
</style>

@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {
            var ajaxSubmitButtonElement = document.getElementById('AjaxSubButton');

            var ajaxGetButtonElement = document.getElementById('AjaxGetButton');

            ajaxSubmitButtonElement.addEventListener('click', function () {
                
                $.ajax({
                        type: "GET",
                        url: "@Url.Action("Json_Index", "Movies")",
                        data: $('#form').serialize(),
                        dataType: 'json',
                        success: function (response) {
                            var trHTML = '';
                            trHTML += '<table class="table table-hover" id="table_2">';
                            trHTML += '<tr><th> Id </th> <th> Title </th> <th> Description </th> <th> Category </th> </tr>'
                            for(var i=0; i<response.items.length; i++){

                                trHTML += '<tr class="table-secondary text-secondary"> <td>' + response.items[i]['id'] + '</td> <td>' + response.items[i]['title'] + '</td> <td>' + response.items[i]['description'] + '</td> <td>' + response.items[i]['name'] + '</td> </tr>';
                                console.log(i);
                            
                            }
                            console.log(response.items);
                            trHTML += '</table>';
                            console.log(trHTML);
                            $('#result').html(trHTML);
                            response.items = [];
                            
                        },

                        error: function (xhr, textStatus) {
                            $("#Status").html("Failed");
                            console.log(xhr.status);
                        }
                });
            });

            ajaxGetButtonElement.addEventListener('click', function () {

                $.ajax({
                    type: "GET",
                    url: "@Url.Action("Ajax_Index", "Movies")",
                    dataType: 'html',
                    success: function (response) {
                        $('#result_partial_view').html(response);
                    },

                    error: function (xhr, textStatus) {
                            $("#Status").html("Failed");
                            console.log(xhr.status);
                    }


                });

            });

           
        });

        function find_id(id, title, name) {



            $('#offcanvas-body').html('<table><tr><th>Movie ID </th><th> Movie Title </th><th> Movie Category </th></tr><tr> ' + ' <td> ' + id + ' </td>  <td>' + title + ' </td > <td>' + name + ' </tr> </td > </table>');


              
             
                

        }
    </script>
}