@model Movies;




<table class="table table-hover">
    <tr> 
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th> Category </th>
        <th></th>
        <th></th>
    </tr>
    @foreach(var item in Model.Items)
    {
        <tr class="table-secondary text-secondary">
                <td>@item.Id</td>

                <td>@item.Title</td>

                <td>@item.Description</td>

                <td>@item.Name</td>
            
                <td><a href="@Url.RouteUrl("Movies_Details", new {id = item.Id})">detail1</a></td>

                <td><a href="@Url.Action("Detail", "Movies", new { id = item.Id})">detail2</a></td>

                <td><a asp-controller="Movies" asp-action="Details" asp-route-id="@item.Id"> detail3</a> </td>

                <td><a href="@Url.Action("Update", "Movies", new {id = item.Id})">Edit</a></td>

                <td><a href="@Url.Action("Delete", "Movies", new {id = item.Id})">Delete</a></td>
        </tr>   
    }
  
</table>